{% extends "base.html" %}

{% block title %}Add Beehive{% endblock %}

{% block content %}
    <h1>Add New Beehive</h1>
    <form action="{{ url_for('views.add_beehive') }}" method="post">
	<label for="apiary">Select Apiary:</label>
	<select id="apiary" name="apiary" required>
		{% for apiary in apiaries %}
		<option value="{{ apiary.id }}">{{ apiary.id }} - {{ apiary.name }}</option>
		{% endfor %}
	</select>
	<label for="type">Type of Hive:</label>
	<input type="text" id="type" name="type" required>
	<label for="wood">Type of Wood:</label>
        <input type="text" id="wood" name="wood" required>
        <button type="submit">Add Beehive</button>
    </form>
{% endblock %}
