{% extends "base.html" %}

{% block title %}Add Inspection{% endblock %}

{% block content %}
    <h1>Add New Inspection</h1>
    <form action="{{ url_for('views.add_inspection') }}" method="post">
	<label for="hive_id">Select Beehive</label>
	<select id="hive_id" name="hive_id" required>
		{% for hive in hives %}
		<option value="{{ hive.id }}">{{ hive.id }}</option>
		{% endfor %}
	</select><br>
	
	<label for="status">Ready for Harvest?</label>
	<select id="status" name="status" required>
		{% for status in status_options %}
		<option value="{{ status }}">{{ status }}</option>
		{% endfor %}
	<label for="notes">Observations</label>
        <textarea id="notes" name="notes" required></textarea><br>
        
	<button type="submit">Add Inspection</button>
    </form>
{% endblock %}
