{% extends "base.html" %}

{% block title %}Add Harvest{% endblock %}

{% block content %}
  <div class="container">
    <h1>Add New Harvest Event</h1>
    <form action="{{ url_for('views.add_harvest') }}" method="post">
      <div class="form-group">
	<label for="hive_id">Select Beehive:</label>
	<select class="form-control" id="hive_id" name="hive_id" required>
		{% for hive in hives %}
		<option value="{{ hive.id }}">{{ hive.id }} - {{ hive.apiary.name }}</option>
		{% endfor %}
	</select>
      </div>
      <div class="form-group">
	<label for="quantity">Quantity in Liters</label>
	<input type="text" class="form-control" id="quantity" name="quantity" required>
      </div>
      <div class="form-group">
	<label for="notes">Notes</label>
	<input type="text" class="form-control" id="notes" name="notes" required>
      </div>
        <button type="submit" class="btn btn-primary">Add Harvest</button>
    </form>
  </div>
{% endblock %}
