{% extends "base.html" %}

{% block title %}Add Apiary{% endblock %}

{% block content %}
    <h1>Add New Apiary</h1>
    <form action="{{ url_for('add_apiary') }}" method="post">
	<label for="user">User:</label>
	<select id="user" name="user" required>
		{% for user in users %}
		<option value="{{ user.id }}">{{ user.name }}</option>
		{% endfor %}
	</select>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="latitude">Latitude:</label>
        <input type="text" id="latitude" name="latitude" required>
	<label for="longitude">Longitude:</label>
        <input type="text" id="longitude" name="longitude" required>
        <button type="submit">Add Apiary</button>
    </form>
{% endblock %}
