{% extends "base.html" %}

{% block title %}Add Apiary{% endblock %}

{% block content %}
    <h1>Add New Apiary</h1>
    <form action="{{ url_for('views.add_apiary') }}" method="post">
      <div class="form-group">
	<label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="latitude">Latitude:</label>
        <input type="text" class="form-control" id="latitude" name="latitude" required>
      </div>
      <div class="form-group">
	<label for="longitude">Longitude:</label>
        <input type="text" class="form-control" id="longitude" name="longitude" required>
      </div>
        <button type="submit" class="btn btn-primary">Add Apiary</button>
    </form>
{% endblock %}
