{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<main>
  <form method="post" action="{{ url_for('views.login') }}">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br>
      <label for="yob">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <br>
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="{{ url_for('views.sign_up') }}">Sign Up</a></p>
</main>
{% endblock %}
