{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>Howdy {{ user_data.first_name }}</h1>
  <main>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <section>
      <h2>Profile Info</h2>
      <div>
        <p><strong>First Name:</strong> {{ user_data.first_name }}</p>
        <p><strong>Last Name:</strong> {{ user_data.last_name }}</p>
        <p><strong>Email:</strong> {{ user_data.email }}</p>
        <p><strong>Year of Birth:</strong> {{ user_data.yob }}</p>
        <p><strong>Joined:</strong> {{ user_data.Joined }}</p>
	<div>
	  <h3>About</h3>
	  <p>{{ user_data.about }}</p>
	</div>
      </div>
    </section>
    <section>
      <a href="{{ url_for('views.logout') }}">Logout</a>
    </section>
  </main>
  {% endblock %}
