{% extends "base.html" %}

{% block title %}Apiary Details{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="text-center">Apiary Details</h2>
    <div class="card mx-auto w-75 pb-4">
      <div class="card-header bg-warning shadow">
        <h3>Apiary Name: {{ apiary.name }}</h3>
      </div>
      <div class="card-body">
        <p class="card-text"><strong>Created on:</strong> {{ apiary.created_at }}</p>
        <p class="card-text"><strong>Last updated:</strong> {{ apiary.updated_at }}</p>
        <p class="card-text"><strong>Location:</strong> {{ apiary.latitude }}, {{ apiary.longitude }}</p>
        <p class="card-text"><strong>Beehives:</strong> {{ hives_count }}</p>
        <p class="card-text"> {{ apiary.description }} </p>
      </div>
        <a href="{{ url_for('views.delete_apiary', apiary_id=apiary.id) }}" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this apiary?');">Delete Apiary</a>
      <div class="card-footer text-muted">
      </div>
    </div>
  </div>
{% endblock %}
