{% extends "base.html" %}

{% block title %}Inspection Details{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="text-center">Inspection Details</h2>
    <div class="card mx-auto w-75 pb-4">
      <div class="card-header bg-warning shadow">
        <h3>Inspection</h3>
      </div>
      <div class="card-body">
        <p class="card-text"><strong>ID:</strong> {{ inspection.id }}</p>
        <p class="card-text"><strong>Created on:</strong> {{ inspection.created_at }}</p>
        <p class="card-text"><strong>Last updated:</strong> {{ inspection.updated_at }}</p>
        <p class="card-text"><strong>Harvest Status:</strong> {{ inspection.ready_for_harvest }}</p>
	<p class="card-text"><strong>Beehive:</strong> {{ inspection.hive_id }} - {{ inspection.beehive.apiary.name }}</p>
        <p class="card-text"><strong>Observations:</strong> {{ inspection.observations }}</p>
      </div>
      <a href="{{ url_for('views.delete_inspection', inspection_id=inspection.id) }}" onclick="return confirm('Are you sure you want to delete this beehive?');" class="btn btn-primary">Delete Inspection</a>
      <div class="card-footer text-muted">
      </div>
    </div>
  </div>
{% endblock %}
