/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.content {
    padding: 20px;
}

h1 {
    color: #343a40;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

form label {
    margin-top: 10px;
}

form input, form button {
    padding: 10px;
    margin-top: 5px;
}

.header_img {
    display: block;
    margin-left: 30%;
    background-image: url("../images/apiary.jpg");
    width: 200px;
    height: 200px;
    }
.header_img img {
  margin: 0 auto;
  }
