/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.navbar-dark .navbar-brand {
    color: #ffc02d;
}

/**
 * Replaced this styling with bootstrap
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.content {
    padding: 20px;
}

h1, h2, h3 {
    color: #343a40;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

form label {
    margin-top: 10px;
}

form input, form button {
    padding: 10px;
    margin-top: 5px;
}

.logo {
    display: block;
    margin-left: 30%;
    background-image: url("../images/appiary_logo_50x50.jpg");
    width: 50px;
    height: 50px;
}

*
*/

.rounded-logo {
    border-radius:100px !important;
}
/*****************     Inspection    *********************/
textarea {
    height: 200px;
}

/*****************     Dashboard     *********************/
.table {
    display: table;
    width: 90%;
    border-collapse: collapse;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: top;
}

.table-cell p {
    font-size:40px;
}

.cell-title {
    font-weight: bold;
    margin-bottom: 5px;
}
